################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/Out.txt
/OOP.vcxproj.user
/OOP.vcxproj.filters
/OOP.vcxproj
/OOP.sln
/In.txt
/OOPUnitTest/Debug/vc142.pdb
/OOPUnitTest/Debug/vc142.idb
/OOPUnitTest/Debug/pch.obj
/OOPUnitTest/Debug/OOPUnitTest.tlog/OOPUnitTest.write.1u.tlog
/OOPUnitTest/Debug/OOPUnitTest.tlog/OOPUnitTest.lastbuildstate
/OOPUnitTest/Debug/OOPUnitTest.tlog/link.write.1.tlog
/OOPUnitTest/Debug/OOPUnitTest.tlog/link.read.1.tlog
/OOPUnitTest/Debug/OOPUnitTest.tlog/link.command.1.tlog
/OOPUnitTest/Debug/OOPUnitTest.tlog/link.7628.delete.1.tlog
/OOPUnitTest/Debug/OOPUnitTest.tlog/link.5116.delete.1.tlog
/OOPUnitTest/Debug/OOPUnitTest.tlog/link.15584.delete.1.tlog
/OOPUnitTest/Debug/OOPUnitTest.tlog/CL.write.1.tlog
/OOPUnitTest/Debug/OOPUnitTest.tlog/CL.read.1.tlog
/OOPUnitTest/Debug/OOPUnitTest.tlog/CL.command.1.tlog
/OOPUnitTest/Debug/OOPUnitTest.pch
/OOPUnitTest/Debug/OOPUnitTest.obj
/OOPUnitTest/Debug/OOPUnitTest.log
/OOPUnitTest/Debug/OOPUnitTest.dll.recipe
/OOPUnitTest/test/test_sort/sort_output.txt
/OOPUnitTest/test/test_sort/sort_input.txt
/OOPUnitTest/test/test_sort/sort_example.txt
/OOPUnitTest/test/test_only_bush_out/only_bush_output.txt
/OOPUnitTest/test/test_only_bush_out/only_bush_input.txt
/OOPUnitTest/test/test_only_bush_out/only_bush_example.txt
/OOPUnitTest/test/test_io/tree_io/output_tree.txt
/OOPUnitTest/test/test_io/tree_io/input_tree.txt
/OOPUnitTest/test/test_io/tree_io/example_tree.txt
/OOPUnitTest/test/test_io/plant_io/output_tree.txt
/OOPUnitTest/test/test_io/plant_io/output_flower.txt
/OOPUnitTest/test/test_io/plant_io/output_bush.txt
/OOPUnitTest/test/test_io/plant_io/input_tree.txt
/OOPUnitTest/test/test_io/plant_io/input_flower.txt
/OOPUnitTest/test/test_io/plant_io/input_bush.txt
/OOPUnitTest/test/test_io/plant_io/example_tree.txt
/OOPUnitTest/test/test_io/plant_io/example_flower.txt
/OOPUnitTest/test/test_io/plant_io/example_bush.txt
/OOPUnitTest/test/test_io/flower_io/output_flower.txt
/OOPUnitTest/test/test_io/flower_io/input_flower.txt
/OOPUnitTest/test/test_io/flower_io/example_flower.txt
/OOPUnitTest/test/test_io/bush_io/output_bush.txt
/OOPUnitTest/test/test_io/bush_io/input_bush.txt
/OOPUnitTest/test/test_io/bush_io/example_bush.txt
/OOPUnitTest/pch.h
/OOPUnitTest/pch.cpp
/OOPUnitTest/OOPUnitTest.vcxproj.user
/OOPUnitTest/OOPUnitTest.vcxproj.filters
/OOPUnitTest/OOPUnitTest.vcxproj
