################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/Out.txt
/OOP.vcxproj.user
/OOP.vcxproj.filters
/OOP.vcxproj
/OOP.sln
/In.txt
